body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#hidden{
	
}


/* Ici, on vient chercher notre ecran de l'ordi*/


#corp{
    perspective: 800px;
    perspective-origin: top left;
    display: absolute;
  	width: 100em;
  	height: 100em;
  	border-width: 10px;
	border-style: outset;
	border-color: black;
	margin: 0;
	background-color: #BDBDBD;
	opacity:0,4;
}
/* Creation de la box bureau dans l'ecran */

#bureau{
	
	display: flex;
	width:90em;
	height:90em;
	
	transform: translateZ(5px);
	border-width: 10px;
	border-style: outset;
	border-color: #848484;
	background-image: url(ales4.jpg);
	margin: 20px;

}

/* Ici les cadres des icônes de bureau*/

#icone1{ 
	width: 50px;
	height: 50px;
	border-width: 5px;
	border-style: outset;
	border-color: black;
	background-color: #F2F2F2;
 }

#icone2{ 
	width: 50px;
	height: 50px;
	border-width: 5px;
	border-style: outset;
	border-color: black;
	background-color: #F2F2F2;
 }

 #icone3{ 
	width: 50px;
	height: 50px;
	border-width: 3px;
	border-style: outset;
	border-color: black;
	background-color: #F2F2F2;
 }

 #icone4{ 
	width: 50px;
	height: 50px;
	border-width: 3px;
	border-style: outset;
	border-color: black;
	background-color: #F2F2F2;
 }

/* On delimite la boite "fenetre" */
#page {
	width: 30em;
	height: 20em;
	border-width: 3px;
	border-style: outset;
	border-color: black;
	background-color: #F2F2F2;
	transform: translateZ(200px);

}

/*Barre de nav à la windows avec menu réroulant, programe "dejà ouvert" */
#navWin {
	

}

.menu{
	

}
/* Footer avec logos réseaus sociaux, logos partenaires et copyright*/
footer {
    position: relative;
   height: auto;
   width: 100%;
   bottom: 0px;
  color:white;
  background-color: #222;
 
}
#button{
    background-color: #222;
    border: none;
    
}
#logo{
    background-color: #222;
    width: 100px;
    margin: 30px;
    bottom: center;
}
.logo1{
    height: 100px;
    bottom:left; 
}
